@model WebHoaqua.Models.DetailImportBill

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row" style="margin-left: 100px">

    <div style="width: 100%">
        <h1>Create Details</h1>
        <hr />
    </div>
    <div class="row" style="margin-top: -300px">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImportId" class="control-label"></label>
                <select asp-for="ImportId" class ="form-control" asp-items="ViewBag.ImportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" style="width: 500px" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceAitem" class="control-label"></label>
                    <input asp-for="PriceAitem" class="form-control" style="width: 500px" />
                <span asp-validation-for="PriceAitem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                    <input asp-for="TotalPrice" class="form-control" style="width: 500px" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

</div>


</div>